h3{
    font-size:30px !important;
}
.btn-success:hover{
    background-color: rgb(106, 255, 0);
}
canvas{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    border-style: solid;
    border-color:cornflowerblue ;
}
@keyframes example{
    from {box-shadow: 1px 1px 80px rgb(254, 233, 73);}
    to {box-shadow: 1px 1px 80px rgb(255, 0, 0);}
}